{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <h1>Quidditch Registration</h1>
    <form action="/form" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            Gryffindor: <input type="radio" name="house" value="Gryffindor"><br>
            Hufflepuff: <input type="radio" name="house" value="Hufflepuff"><br>
            Ravenclaw: <input type="radio" name="house" value="Ravenclaw"><br>
            Slytherin: <input type="radio" name="house" value="Slytherin"><br>
         <select name="position">
            <option disabled selected value="">Position</option>
            <option value="Beater">Apley Court</option>
            <option value="Chaser">Chaser</option>
            <option value="Keeper">Keeper</option>
            <option value="Seeker">Seeker</option>
        </select>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>

        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input[name=name').value) {
                alert('You must provide your name');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide your house');
                return false;
            }
            else if (!document.querySelector('input[name=position]').value) {
                alert('You must provide your position');
                return false;
            }
            return true;
        };

    </script>

{% endblock %}
